# IDE specific
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Hugo
.hugo_build.lock
go.sum
resources/
public/

# Mac
.DS_Store

# Vue
content/.vuepress/.cache/
content/.vuepress/.temp/
content/.vuepress/dist/

public/
resources/
drafts/
_local/
content/.obsidian
assets/jsconfig.json
.frontmatter
frontmatter.json
