{{- define "main" -}}

{{ partial "page_header.html" . }}
<div class="universal-wrapper">

<div >
    <div>
        <div>

## pagina in costruzione

{{ $items_type := "project" }}
{{ $query := "" }}
{{ $query = where site.RegularPages "Type" $items_type }}
/*{{ $query := $query | intersect (where site.Pages "Params.tags" "intersect" "kids") }}*/

{{ range $idx, $item := $query }}
{{ partial "portfolio_li_list" (dict "item" $item) }}
{{ end }}
        </div>
    </div>
</div>

</div>

{{- end -}}