figure.floatright {
	float: right;
	margin-top: 0px;
	margin-left: 50px;
}

figure.floatleft {
	float: left;
	margin-top: 0px;
	margin-right: 50px;
}

blockquote.boxGameDetail {
	background-color: rgb(240, 240, 240);
}

blockquote.boxFabio {
	background-color: rgb(203, 239, 253);
}

blockquote.boxStefano {
	background-color: rgb(250, 216, 183);
}

