figure.floatright {
	max-width: 30%;
	height: auto;
	float: right;
}

figure.floatleft {
	max-width: 30%;
	height: auto;
	float: left;
}

blockquote.boxGameDetail {
	background-color: rgb(240, 240, 240);
}

blockquote.boxFabio {
	background-color: rgb(203, 239, 253);
}

blockquote.boxStefano {
	background-color: rgb(250, 216, 183);
}

