<div class="alert alert-note">
Per ricevere aggiornamenti scriviti al <a href="https://t.me/scecere" target="_blank" rel="noopener"><i class="fab fa-telegram  pr-1 fa-fw"></i> Canale Telegram</a> o alla <a href="https://cecere.substack.com/subscribe" target="_blank" rel="noopener"><i class="fas fa-mail-bulk pr-1 fa-fw"></i> Newsletter settimanale</a>, e condividi se vuoi aiutare me e altri:<br>
    
{{ if and site.Params.sharing (ne .Params.share false) }}
    {{ range where site.Data.page_sharer.buttons "enable" true }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := replace .url "{url}" ($.Permalink | htmlEscape) }}
      {{ $link = replace $link "{title}" ($.Title | htmlEscape) }}
        <a href="{{$link|safeURL}}" target="_blank" rel="noopener" class="share-btn-{{.id}}">
          <i class="{{$pack}} {{$pack_prefix}}-{{.icon}}"></i> {{.title}}&nbsp;
        </a>
    {{ end }}

{{ end }}
</div>