<div class="row">
<div class="col-md">
<!--    <h3><a href="/edu">Corsi e Tutor</a></h3>
    su vari temi-->
    <h3><a href="/played">PlayED</a></h3>
    la guida al giocare bene, imparare insieme
    <h3><a href="/about/stefano">Mi presento</a></h3>
    se non mi conosci già
    </div>
<div class="col-md">
    <h3><a href="/about/consulting">Consulenze</a></h3>
    se hai un progetto interessante
    <h3><a href="https://t.me/scecere">Telegram</a></h3>
    il mio canale per aggiornamenti
    <h3><a href="https://cecere.substack.com/subscribe">Newsletter</a></h3>
    ogni settimana nella tua email
</div>
</div>
</div>